{% extends 'menu.html' %}

{% block content %}
    <img class="fondo" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/51ff8390461225.5f382a7fcd72b.png" alt="">
    <input type="checkbox" id="cerrar">
		<label for="cerrar" id="btn-cerrar">X</label>
		<div class="modale">
			<div class="contenido">
				<h2>Bienvenida al sistema de evaluación crediticia</h2>
                <h3>En este sistema, podrás realizar gestiones a los clientes, así como controlar el proceso de seguimiento y realizar la evaluación pertinente</h3>
                <h3>Mucha suerte el dia de hoy! 🖐</h3>
				<img src="https://www.compartamos.com.pe/wcm/connect/9c694858-f749-4449-84bd-17abd7acbd95/LIM-002-2.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-9c694858-f749-4449-84bd-17abd7acbd95-nuTk9Qk" alt="">
			</div>
		</div>
{% endblock %}
    


